body {
  background-color: #d9d9d9;
}


/* HEADER */


#header {
  color: black;
  background-color: #fafafa;
  border-radius: 15px;
}

#logo-header {
  margin-right: 15px;
  width: 5rem;
}

.header-title {
  color: #634C9F;
  font-weight: bold;
  font-family: Tahoma;
  font-size: medium;
  display: flex;
}

.nav-item {
  &.active {
    color: black;
  }

  &:hover {
    color: white;
    background-color: #634C9F;
    border: white;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

/* END HEADER */